:root{
  --pri:        #0384d6;
  --text:       #000;
  --hover:      #fbfbfb;
  --card_bg:    #fff;
  --bg:         #fefefe;
  --text_faded: #ddd;
  --border:     #ccc;
  --nav_bg:     #fff;
  --shadow:     #aaa;
  --icon:       #222;
}

body{
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  overflow-x: hidden;
}

footer{
  width: 100%;
}

.noscript{
  font-size: 50px;
  padding-top: 80px;
  margin-bottom: -80px;
  text-align: center;
}

button, input[type="button"]
{
  background: var(--bg);
  border: 1px solid var(--border);
  padding: 8px 16px;
  margin: 0px 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover, input[type="button"]:hover,
button:focus, input[type="button"]:focus
{
  box-shadow: 0px 0px 3px var(--shadow);
  background: var(--pri);
  color: var(--bg);
}

label{
  font-weight: normal !important;
}

textarea
{
  width: 100%;
  background-color: var(--bg);
  border: 1px solid var(--border);
  margin-bottom: 10px;
  resize: vertical;
  padding: 5px 6px;
  font-size: 16px;
}

select
{
  padding: 1px 4px;
  margin-left: 4px;
  border: 1px solid var(--border);
}

option, select{
  background-color: var(--bg);
  padding: 5px;
  font-size: 16px;
}

.progress{
  width: 100%;
  margin: 10px 0px;
  background-color: var(--border);
  height: 4px;
}

.progress-value{
  width: 0%;
  height: 100%;
  background-color: var(--pri);
}

.container
{
  background: var(--bg);
  width: 100vw;
  min-height: 800px;
  padding: 0px;
  margin: 0 auto;
  padding-top: 50px;
}

.post-img
{
  width: 800px;
  margin: auto;
}

input[type="text"],
input[type="password"]
{
  background: var(--bg);
  border: 1px solid var(--border);
  display: block;
  margin-bottom: 8px;
  width: 100%;
  padding: 5px 6px;
  font-size: 16px;
}

input[type="file"]
{
  margin-bottom: 20px;
  margin-left: 10px;
}

table{
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

th{
  background-color: var(--hover);
  padding: 8px;
  font-weight: normal;
  font-size: 18px;
}

th, td{
  padding: 4px 8px;
  border: 1px solid var(--border);
}

.skew-con
{
  -ms-transform: skewX(-30deg); /* IE 9 */
  -webkit-transform: skewX(-30deg); /* Safari */
  transform: skewX(-30deg); /* Standard syntax */
}

.skew
{
  -ms-transform: skewX(30deg); /* IE 9 */
    -webkit-transform: skewX(30deg); /* Safari */
    transform: skewX(30deg); /* Standard syntax */
}

h1, h2, h3
{
  text-align: center;
  font-family: 'Barlow', sans-serif;
  max-width: 600px;
  display: block;
  margin: auto;
}

h1{
  margin: 26px auto;
}

h2{
  margin-top: 60px;
  margin-bottom: 20px;
}

h3{
  padding-top: 10px;
  padding-bottom: 14px;
}

.post-con{
  font-size: 17px;
  padding-bottom: 150px;
}


p{
  width: 700px;
  margin: 10px auto;

  margin-bottom: 20px;
}

a{
  color: var(--pri);
}

a:hover{
  color: var(--pri);
}

.noselect{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
}

/*-------------- Scrollbar --------------*/
html::-webkit-scrollbar-track
{
	background-color: var(--card_bg);
  border-left: 1px solid var(--shadow);
}

html::-webkit-scrollbar
{
	width: 6px;
	background-color: var(--card_bg);

}

html::-webkit-scrollbar-thumb
{
	background-color: var(--border);
}

/*-------------- Navbar --------------*/
.cdf-nav
{
  border-bottom: 1px solid var(--border);
  height: 50px;
  position: fixed;
  width: 100%;
  z-index : 900;
  background: var(--nav_bg);
}

.cdf-nav li{
  cursor: pointer;

}

.cdf-nav-filters
{
  font-family: 'Barlow', sans-serif;
  display: inline-block;
  vertical-align: top;
  margin-left: 0px;
  padding: 0;
}

.cdf-nav-filters a
{
  vertical-align: top;
  display: inline-block;
  height: 48px;
  width: 150px;
  color: var(--text);
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  line-height: 48px;
}

.btn
{
  border-bottom: 2px solid transparent;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
  cursor: pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
}

.btn:hover, .btn.active
{
  background-color: var(--hover);
  padding-bottom: 0px;
}

.btn.active{
  border-bottom-color: var(--pri);
}

.cdf-nav-logo
{
  display: inline-block;
  width: 130px;
  margin-left: -20px;
  margin-right: 20px;
  padding: 6px 0px;
  padding-left: 46px;
  background: var(--nav_bg);
  box-shadow: 1px 1px 2px var(--shadow);
  position: relative;
  border: 1px solid transparent;
  border-top: none;
  border-left: none;
  z-index: 901;
}

.cdf-nav-logo:hover
{
  box-shadow: 1px 1px 2px var(--shadow);
  border-color: var(--pri);
  cursor: pointer;
}

.cdf-nav-logo img
{
  height: 50px;
}

.cdf-nav-info
{
  display: inline-block;
  float: right;
  margin-right: 0px;
}

.cdf-nav-info a,
.cdf-nav-info div
{
  display: inline-block;
  line-height: 50px;
  height: 47px;
  min-width: 70px;
  margin-right: -4px;
  clear: left;
  vertical-align: top;
  background: none;
  text-align: center;
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
}

#login{
  width: 120px;
}


#start{
  display: none;
  padding: 0px 30px;
  font-size: 15px;
}

#start{
  height: 38px;
  margin: 5px 16px;
  line-height: 34px;
  font-size: 16px;
  border: 2px solid var(--pri);
  border-radius: 2em;
}

.cdf-nav-info .ico{
  font-size: 18px;
  width: 60px;
}



.session-con
{
  min-width: 220px;
  padding: 0px 20px;
  height: 50px !important;
  text-align: left !important;
  max-width: 400px;
}

.session-con:hover{
  background: var(--hover);
}

.session-con span{
  margin-left: 10px;
}

.session-avatar-con {
  overflow: hidden;
  height: 32px !important;
  width: 60px !important;
  min-width: 60px !important;
  margin-top: 9px !important;
}

#session-down-icon{
  float: right;
  width: 30px;
  padding-left: 10px;
}

#session-down-icon svg{
  fill: var(--text_faded);
}

#session-down-icon.active svg{
  fill : var(--pri);
}

#session-avatar{
  height: 100%;
  width: 100%;
}


/*-------------- Login Modal --------------*/
.login-modal
{
  position: fixed;
  top: 50;
  height: 100vh;
  width: 100%;
  z-index: 20;
  background: rgba(25,25,25,0.8);
}

.login-menu div
{
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  margin-bottom: 20px;
  background: var(--bg);
  cursor: pointer;
}

.login-menu div.active
{
  background: var(--hover);
}

.login-con
{
  width: 400px;
  margin: 20 auto;
  padding: 20px 30px;
  background: var(--bg);
  box-shadow: 0px 0px 8px black;
}

.user-menu{
  position: fixed;
  right: 0;
  top: 50px;
  width: 220px;
  background: var(--bg);
  box-shadow: 0px 0px 3px var(--shadow);
  z-index: 50;
}

.user-menu div{
  width: 100%;
  padding: 0 20px;
  line-height: 40px;
  background: var(--bg);
  cursor: pointer;
}

.user-menu div:hover{
  background: var(--hover);
}

.conceal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25,25,25,0.9);
  z-index: 10;
}

.conceal-msg{
  width: 600px;
  height: 300px;
  background: var(--bg);
  margin: 0 auto;
  margin-top: 120px;
  text-align: center;
  font-size: 40px;
  line-height: 140px;
  border: 1px solid var(--pri);
}

.conceal-reason{
  line-height: 50px;
  font-size: 25px;
}

/*-------------- Notifications --------------*/
.notification-con
{
  position: fixed;
  bottom: 10;
  left: 10;
  width: 400px;
  z-index: 200;
}

.notification
{
  margin-bottom: 4px;
  background: var(--bg);
  color: white;
}

.notification-text
{
  width: 330px;
  font-size: 18px;
  padding: 6px 20px;
  padding-right: 0px;
  display: inline-block;
  margin-right: -4px;
  line-height: 30px;
  height: 30px;
}

.notification-icon
{
  display: inline-block;
  margin-right: -4px;
  width: 40px;
  padding-right: 10px;
  height: 30px;
  font-size: 18px;
  text-align: center;
  vertical-align: text-top;
}

.notification-success {
  background: #16b401;
}

.notification-warning {
  background: #ff5a01;
}

.notification-error {
  background: #e41920;
}

.notification-default {
  background: var(--pri);
}

/*-------------- Post --------------*/
.banner
{
  width: 1920px;
  height: 440px;
  overflow:hidden;
  box-shadow: 0px 2px 6px var(--shadow);
}

.banner img{
  width: 100%;
  min-height: 100%;
}

.creator
{
  height: 48px;
  width: 800px;
  margin: 40px auto;
  padding: 4px 20px;
  border-bottom: 1px solid var(--pri);
  border-top: 1px solid var(--pri);
}

.creator-avatar{
  overflow: hidden;
  width: 90px;
  height: 48px;
  display: inline-block;
}

.creator-avatar img{
  width: 100%;
  height: 48px;
}

.creator-name
{
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  font-size: 20px;
  height: 100%;
  line-height: 50px;
  font-family: 'Barlow', sans-serif;
}

.creator-date
{
  display: inline-block;
  line-height: 48px;
  vertical-align: top;
  margin-left: 40px;
  float: right;
}

.post-img, .video
{
  width: 800px;
  margin: 30px auto;
}

.post-img img
{
  width: 100%;
}

.quote
{
  max-width: 700px;
  text-align: left;
  font-size: 24px;
  text-shadow: 0px 2px 0px var(--hover);
  margin: 30px auto;
  border-left:2px solid var(--pri);
  background: var(--hover);
  padding: 20px 50px;
  font-style: italic;
}

.quote::before, .quote::after {
    content: '"';
    font-size: 30px;
    color: var(--pri);
    position: absolute;
    margin-top: -6px;
    margin-left: -14px;
}
.quote::after{
  margin-left: 2px;
}

.post-con ul{
  width: 700px;
  margin: auto;
}

.video{
  display:block;
  height: 450px;
}

/*-------------- Footer --------------*/

footer{
  padding-top: 20px;
  clear: left;
}

.footer-con
{
  width: 1170px;
  margin: auto;
  height: 180px;
  padding: 10px 20px;
  border-top: 1px solid var(--pri);
}

.footer-logo
{
  display: inline-block;
  margin-right: 20px;
  padding: 8px 20px;
  height: 90px;
  text-align: center;
  cursor: pointer;
}

.footer-logo img
{
  height: 60px;
}

.footer-filter-con
{
  display: inline-block;
  vertical-align: top;
}

.footer-filter
{
  display: inline-block;
  cursor: pointer;
  height: 57px;
  width: 150px;
  line-height: 60px;
  font-size: 16px;
  text-align: center;
  margin: 10px -2px;
}

.footer-contact
{
  display: inline-block;
  float: right;
  margin-top: 10px;
}

.footer-social
{
  float: right;
  font-size: 20px;
  width: 60px;
  height: 40px;
  line-height: 43px;
  text-align: center;
  margin-right: 6px;
}

.footer-social:hover, .footer-filter:hover, .footer-logo:hover
{
  background: var(--hover);
}

.footer-email
{
  clear: both;
  padding-top: 10px;
}

.email
{
  unicode-bidi: bidi-override;
  direction: rtl;
  margin-left: 6px;
  -webkit-user-select: all;  /* Chrome 49+ */
  -moz-user-select: all;     /* Firefox 43+ */
}

/*-------------- Cards --------------*/

.card-con
{
  width: 1104px;
  margin: 0 auto;
}

.card
{
  width: 340px;
  height: auto;
  display: inline-block;
  float: left;
  margin: 14px 14px;
  background: var(--card_bg);
  box-shadow: 0px 2px 6px var(--shadow);
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  text-decoration: none;
  color: var(--text);
}

.card:hover
{
  cursor: pointer;
  box-shadow: 0px 2px 22px black;
  color: var(--text);
}

.card-thumb
{
  width: 100%;
  height: 190px;
}

.card-thumb img
{
  width: 100%;
  height: 100%;
}

.card-info
{
  padding: 8px 16px;
  border-top: 1px solid var(--border);
  position: relative;
  z-index: 5;
}

.card-title-and-desc
{
  height: 80px;
  overflow: hidden;
  margin-bottom: 6px;
}

.card-title
{
  font-size: 24px;
  font-family: 'Barlow', sans-serif;
}

.card-desc
{
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--text_faded);
}

.card-author
{
  display: inline-block;
  float: left;
  font-size: 16px;
  margin-bottom: 6px;
}

.card-time
{
  margin-right: 8px;
  float: right;
  font-size: 14px;
}

.card-tag-con
{
  clear: left;
  margin-bottom: 2px;
  height: 40px;
  overflow: hidden;
  display: none;
  position: absolute;
  margin-top: -32px;
  margin-left: 10px;
  z-index: 2;
}

.card-tag
{
  display: inline-block;
  border: 1px solid var(--pri);
  padding: 2px 10px;
  float: left;
  margin-right: 4px;
  font-size: 14px;
  line-height: 22px;
  background: var(--card_bg);
}


/*-------------- New Post --------------*/
.post-raw-edit
{
  padding-top: 60px;
  width: 700px;
  margin: auto;
}

.post-raw-edit textarea
{
  border: 1px solid var(--border);
  width: 100%;
  min-height: 500px;
  background-color: var(--bg);
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.post-preview
{
  padding-top: 40px;
  display: none;
}

.post-toolbar
{
  position: fixed;
  top: 50px;
  width: 100%;
  background: var(--nav_bg);
  border-bottom: 1px solid var(--border);
  z-index: 12;
}

.post-toolbar-inner
{
  width: 1000px;
  margin: 0 auto;
  background: var(--nav_bg);
}

.toolbar-mode
{
  display: inline-block;
  width: 100px;
  text-align: center;
  margin-right: -4px;
}

.toolbar-btn
{
  display: inline-block;
  border-top: none;
  line-height: 40px;
  width: 100px;
  text-align: center;
  height: 40px;
  padding-top: 5px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.toolbar-btn:hover{
  background: var(--hover);
}

.toolbar-btn-sm
{
  width: 50px;
  height: 39px;
  margin-right: -4px;
  vertical-align: bottom;
}

.toolbar-mode.active, .toolbar-modal-btn.active
{
  background-color: var(--hover);
  border-color: var(--pri);
}

.toolbar-btn-right{
  float: right;
}

.fa-info-circle{
  margin-right: 2px;
}

.post-tool-modal-wrapper
{
  position: fixed;
  float: right;
  top: 90px;
  right: 50%;
  z-index: 10;
}

.post-tool-modal
{
  margin-left: 50%;
  background: var(--card_bg);
  box-shadow: 0px 0px 3px var(--shadow);
  border-top: 0px;
  width: 700px;
  padding: 10px 100px;
  overflow: hidden;
  display: none;
}

.post-tool-modal input[type="button"]
{
  margin-top: 20px;
  margin-bottom: 6px;
}

.post-tool-modal textarea{
  resize: none;
}

.drag-upload{
  width: 100%;
  border: 2px dashed var(--border);
  text-align: center;
  padding: 60px 0px;
  font-size: 26px;
  margin: 20px 0px;
}

.post-tool-submit{
  margin-top: 10px;
}

#post-editor{
  height: 700px;
}

#media-progress{
  display: block;
}

.post-tool-modal ul{
  padding-left: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.post-tool-modal li{
  display: block;
  background: var(--hover);
  padding: 0px 30px;
  width: 640px;
  line-height: 49px;
  height: 50px;
  list-style: none;
  margin-left: 0;
  cursor: pointer;
  border-left: 1px solid var(--pri);
  margin-bottom: 2px;
  font-size: 20px;
}

.post-tool-modal li:hover{
  background: var(--pri);
  color: var(--bg);
}

.post-tool-modal li .fa{
  padding-right: 4px;
}

.image-viewer
{
  height: 600px;
  width: 860px;
  margin: 0 -20px;
  margin-left: -100px;
  padding: 6px 20px;
  overflow-y: scroll;
  margin-bottom: 15px;
  box-shadow: 0px 0px 2px black;
}

.img-viewer-thumb{
  width: 260px;
  height: 146px;
  display: inline-block;
  margin: 4px 6px;
  cursor: pointer;
  border: 2px solid var(--border);
}

.img-viewer-thumb:hover{
  border-color: var(--pri);
  box-shadow: 0px 0px 4px black;
}

.img-viewer-thumb.active{
  border-color: var(--pri);
  box-shadow: 0px 0px 4px black;
}

.img-viewer-thumb img{
  height: 100%;
  width: 100%;
}

#post-editor-game{
  width: 90%;
  margin-bottom: 8px;
}

#post-tool-help table{
  width: 700px;
  margin: 0 auto;
}

#post-editor-banner{
  margin: 10px 0px;
}

#post-editor-title{
  font-size: 18px;
}

#banner-set-checkbox{
  margin-left: 10px;
  margin-right: 20px;
  font-size: 20px;
  color: var(--border);
}

.drop
{
  width: 100%;
  text-align: center;
  padding: 70px 0px;
  border: 2px dashed var(--border);
  cursor: default;
}

.dragenter{
  border-color: var(--pri);
  background: var(--hover);
}

.spinner-con{
  text-align: center;
  padding-top: 40px;
  height: 40px;
  margin-bottom: -80px;
  color: red;
}


/*-------------- My Posts --------------*/
.post-list{
  width: 600px;
  margin: 0 auto;
  min-height: 60px;
}

.my-posts-con{
  width: 700px;
  margin: 0 auto;
  background: var(--card_bg);
  display: table;
  margin-top: 20px;
  padding-bottom: 50px;
  box-shadow: 0px 0px 2px var(--shadow);
}

.post-list img{
  height: 60px;
  width: 105px;
}

.post-list-item{
  width: 600px;
  padding: 6px 0px;
  border-bottom: 1px solid var(--border);
}

.post-list-item:hover{
  background: var(--hover);
  cursor: pointer;
}

.post-item-info{
  vertical-align: top;
  display: inline-block;
  margin-left: 20px;
}

.post-item-stats{
  display: inline-block;
  width: 150px;
  float: right;
  text-align: right;
  margin-right: 10px;
}

.post-nav{
  width: 600px;
  text-align: left;
  margin: 0 auto;
  margin-top: -40px;
  border-bottom: 2px solid var(--border);
}

.post-nav h2{
  text-align: left;
  margin-bottom: 0px;
}

.my-posts-sort{
  text-align: right;
  margin-bottom: 10px;
  line-height: 20px;
  margin-top: -20px;
}

.my-posts-page-nav{
  width: 700px;
  margin: 20px auto;
  height: 30px;
}

#my-posts-next{
  float: right;
}

.post-item-title{
  font-size: 16px;
  padding: 0px;
  font-weight: bold;
  text-align: left;
  margin-top: 4px;
  margin-bottom: 8px;
}

.post-item-date{
  font-size: 14px;
}

.ico-post-item{
  height: 16px;
  padding-right: 8px;
  margin-top: 2px;
  display: inline-block;
}

.ico-post-item-val{
  display: inline-block;
  vertical-align: top;
}

/*--------- Icons --------*/
.ico-icon
{
  height: 100%;
  display: block;
  margin: auto;
  fill : var(--icon);
}

.ico-con-twitter:hover svg
{
  fill: var(--pri);
}

.ico-con-youtube:hover svg
{
  fill: red;
}
