:root{
  --pri:        #008fea;
  --con_bg:     #222;
  --border:     #242424;
  --text:       #fff;
  --hover:      #353535;
  --page_bg:    #00040b;
  --card_bg:    #171717;
  --bg:         #121214;
  --pri_faded:  #0375be;
}

body{
  background: var(--bg);
  color: var(--text);
  font-family: 'Open Sans', sans-serif;
}

footer{
  width: 100%;
}

.container
{
  background: var(--con_bg);
  width: 1170px;
  min-height: 800px;
  padding: 0px;
  padding-top: 50px;
}

.post-img
{
  width: 800px;
  margin: auto;
}

.skew-con
{
  -ms-transform: skewX(-30deg); /* IE 9 */
  -webkit-transform: skewX(-30deg); /* Safari */
  transform: skewX(-30deg); /* Standard syntax */
}

.skew
{
  -ms-transform: skewX(30deg); /* IE 9 */
    -webkit-transform: skewX(30deg); /* Safari */
    transform: skewX(30deg); /* Standard syntax */
}

h1, h2, h3
{
  text-align: center;
  font-family: 'Barlow', sans-serif;
  max-width: 600px;
  display: block;
  margin: auto;
}

h1{
  margin: 26px auto;
}

h2{
  margin-top: 80px;
  margin-bottom: 16px;
}

.post-con{
  font-size: 17px;
  padding-bottom: 150px;
}


p{
  width: 700px;
  margin: 10px auto;

  margin-bottom: 20px;
}

/*-------------- Navbar --------------*/
.cdf-nav
{
  height: 50px;
  position: fixed;
  border-bottom: 1px solid var(--pri_faded);
  background: var(--page_bg);
  width: 100%;
}

.cdf-nav li{
  cursor: pointer;

}

.cdf-nav-filters
{
  font-family: 'Barlow', sans-serif;
  display: inline-block;
  vertical-align: top;
  margin-left: 0px;
  padding: 0;
}

.cdf-nav-filters li
{
  display: inline-block;
  height: 100%;
  width: 150px;
  color: var(--text);
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  border-right: 2px solid var(--pri_faded);
  margin-left: -3px;
}

.cdf-nav-filters li:hover
{
    background: var(--hover);
}

.cdf-nav-filters li.active
{
  background-color: var(--pri_faded);
}

.cdf-nav-logo
{
  display: inline-block;
  width: 190px;
  margin-left: -20px;
  padding: 6px 0px;
  padding-left: 46px;
  background: var(--bg);
  border-bottom: 1px solid var(--pri_faded);
  border-right: 2px solid var(--pri_faded);
}

.cdf-nav-logo:hover
{
  cursor: pointer;
}

.cdf-nav-logo img
{
  height: 50px;
}

.cdf-nav-info
{
  display: inline-block;
  float: right;
  height: 100%;
  margin-right: 0px;
}

.cdf-nav-info button
{
  line-height: 50px;
  height: 100%;
  margin: 0px;
  border:none;
  background: none;
  vertical-align: top;
}

#login, #start{
  padding: 0px 30px;
  font-size: 15px;
}

#start{
  height: 38px;
  margin: 5px 16px;
  line-height: 34px;
  font-size: 16px;
  border: 2px solid var(--pri);
  border-radius: 2em;
}

.cdf-nav-info button:hover
{
  background: var(--hover);
}

.cdf-nav-info .fa{
  font-size: 21px;
  width: 60px;
}


/*-------------- Login Modal --------------*/
.login-modal
{
  display: none;
}


/*-------------- Post --------------*/
.banner
{
  width: 100%;
  height: 440px;
}


.creator
{
  height: 58px;
  width: 800px;
  margin: 40px auto;
  padding: 4px 20px;
  border-bottom: 1px solid var(--pri_faded);
  border-top: 1px solid var(--pri_faded);
}

.creator-avatar{
  border: 1px solid var(--pri);
  border-radius: 0em;
  overflow: hidden;
  width: 90px;
  height: 100%;
  display: inline-block;
}

.creator-avatar img{
  width: 100%;
  height: 100%;
}

.creator-name
{
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  font-size: 20px;
  height: 100%;
  line-height: 50px;
  font-family: 'Barlow', sans-serif;
}

.creator-date
{
  display: inline-block;
  line-height: 48px;
  vertical-align: top;
  margin-left: 40px;
  float: right;
}

.post-img
{
  width: 800px;
  margin: 30px auto;
}

.post-img img
{
  width: 100%;
}

.quote
{
  max-width: 700px;
  text-align: left;
  font-size: 24px;
  text-shadow: 0px 2px 0px var(--hover);
  margin: 30px auto;
  border-left:2px solid var(--pri);
  background: var(--hover);
  padding: 30px 50px;
}

.quote::before, .quote::after {
    content: '"';
    font-size: 30px;
    color: var(--pri);
    position: absolute;
    margin-top: -6px;
    margin-left: -14px;
}
.quote::after{
  margin-left: 2px;
}

/*-------------- Footer --------------*/
.footer-con
{
  width: 1170px;
  margin: auto;
  height: 180px;
  padding: 10px 20px;
  border-top: 1px solid var(--pri_faded);
}

.footer-logo
{
  display: inline-block;
  margin-right: 60px;
  padding: 8px 0px;
  text-align: center;
  cursor: pointer;
}

.footer-logo img
{
  height: 60px;
}

.footer-filter-con
{
  display: inline-block;
  vertical-align: top;
}

.footer-filter
{
  display: inline-block;
  cursor: pointer;
  height: 60px;
  width: 150px;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  margin: 10px -2px;
  border: 1px solid var(--pri);
}

.footer-filter:hover
{
  background-color: var(--hover);
}

.footer-contact
{
  display: inline-block;
  float: right;
  margin-top: 10px;
}

.footer-social
{
  float: right;
  font-size: 20px;
  width: 60px;
  height: 40px;
  line-height: 40px;
  border: 1px solid var(--pri_faded);
  text-align: center;
  margin-right: 6px;
}

.footer-social:hover
{
  cursor: pointer;
  background: var(--hover);
}

.footer-email
{
  clear: both;
  padding-top: 10px;
}
